@namespace PresentR.Components
@inherits PresentrComponent

<a href="#" class="layout-gotop" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-original-title="@TooltipText" @ref="GoTopElement">
    <i class="@Icon"></i>
</a>
